name: CMake Build Windows

on:
  workflow_dispatch:
    inputs:

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-2022

    steps:
    - uses: actions/checkout@v4

    - name: Configure CMake
      run: cmake -S ${{github.workspace}} -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DBUILD_TESTS=OFF -DBUILD_SHARED=OFF -DDOWNLOAD_WPILIB_BINARIES=ON -DDOWNLOAD_WPILIB_BINARIES_ARCH=x86-64 -G "Visual Studio 17 2022" -A x64

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

   # - name: Test
   #   working-directory: ${{github.workspace}}/build
   #   run: ctest -C ${{env.BUILD_TYPE}}

    - name: Archive
      uses: actions/upload-artifact@v4
      with:
        name: 'ThunderAuto Executable'
        path: ${{github.workspace}}/build/${{env.BUILD_TYPE}}/ThunderAuto.exe

